[Unit]
Description = tiny application for sngsk.info

[Service]
ExecStart = /usr/bin/python /opt/sngsk.info/app/main.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
