[Unit]
Description = tiny application for sngsk.info

[Service]
ExecStart = python /opt/sngsk.info/app.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
