<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="About Me" />
		<meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />

		<link rel="shortcut icon" type="image/png" href="//{{ domain }}/{{ favicon }}" />
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />

		<base href="//{{ domain }}/aboutme" />
		<title>{{ domain }}/aboutme</title>
	</head>
	<body>
		<h1><a href="//{{ domain }}">{{ domain }}</a>/aboutme</h1>
		<h2>Name</h2>
		之城坂 貞太 (NOGISAKA Sadata)
		<ul>
			<li><strong>nosada</strong></li>
			<li>ngsksdt</li>
			<li>sngsk</li>
			<li>aaodsn</li>
		</ul>

		<h2>Activities</h2>
		<ul>
			<li><a href="https://aur.archlinux.org/packages/?K=nosada&SeB=m">PKGBUILDs</a></li>
			<li><a href="http://nosada.hatenablog.com">Blog</a></li>
			<li><a href="http://nosada.hatenablog.jp">Texts</a></li>
			<li><a href="https://github.com/nosada">GitHub</a></li>
			<li><a href="https://gist.github.com/nosada">Gist</a></li>
		</ul>

		<h2>Communication</h2>
		<ul>
			<li>mail : ngsksdt at gmail dot com</li>
			<li><a rel="me" href="https://mastodon.sngsk.info/@nosada">Mastodon</a></li>
			<li><a href="https://discordapp.com/users/ngsksdt">Discord</a></li>
			<li><a href="https://keybase.io/nosada">Keybase</a></li>
		</ul>
	</body>
</html>
