<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="It works!" />
		<meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1, user-scalable=yes" />

		<link rel="shortcut icon" type="image/png" href="//{{ domain }}/{{ favicon }}" />
		<link rel="stylesheet" type="text/css" href="//{{ domain }}/{{ css }}" />

		<base href="//{{ domain }}" />
		<title>{{ domain }}/</title>
	</head>
	<body>
		<h1>sngsk.info<a href="//{{ domain }}/aboutme">/</a></h1>
		{{ body }}
	</body>
</html>
