<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="It works!" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="shortcut icon" type="image/png" href="//{{ domain }}/{{ favicon }}" />
		<link rel="stylesheet" type="text/css" href="//{{ domain }}/{{ css }}" />

		<base href="//{{ domain }}" />
		<title>It works!</title>
	</head>
	<body>
		<h1>It works<a href="//{{ domain }}/aboutme">!</a></h1>
		{{ body }}
	</body>
</html>
