<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="About me." />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="shortcut icon" type="image/png" href="//{{ domain }}/{{ favicon }}" />
		<link rel="stylesheet" type="text/css" href="//{{ domain }}/{{ css }}" />

		<base href="//{{ domain }}/aboutme" />
		<title>{{ domain }}/aboutme</title>
	</head>
	<body>
		<h1><a href="//{{ domain }}">{{ domain }}</a>/aboutme</h1>
		<h2>name</h2>
		之城坂 貞太 (NOGISAKA Sadata)
		<ul>
			<li><strong>nosada</strong></li>
			<li>ngsksdt</li>
			<li>sngsk</li>
		</ul>

		<h2>activities</h2>
		<ul>
			<li><a href="https://aur.archlinux.org/packages/?K=nosada&SeB=m">PKGBUILD</a></li>
			<li><a href="http://nosada.hatenablog.com">Blog</a></li>
			<li><a href="http://nosada.hatenablog.jp">Texts</a></li>
			<li><a href="https://keybase.io/nosada">Keybase</a></li>
			<li><a href="https://twitter.com/ngsksdt">Twitter</a></li>
			<li><a href="https://github.com/nosada">GitHub</a></li>
			<li><a href="https://mastodon.sngsk.info">Mastodon</a></li>
		</ul>

		<h2>communication</h2>
		<ul>
			<li>mail : ngsksdt at gmail dot com</li>
			<li>xmpp : nosada at xmpp dot jp</li>
		</ul>
	</body>
</html>
